@media(max-width:670px){

.bagian-utama-top{
    max-width: 100%;
    margin: 0 auto; 
    padding: 0 0;
}

.bagian-utama{
    padding: 80px 20px 80px 20px;
    background-color: rgba(0,0,0,0.3);  
}
.bagian-utama h1{   
    font-size: 24px;
}

.bagian-utama h2{
    font-size: 20px;
}

.bagian-utama p{
    font-size: 15px;
}

.bttn{
    margin-top: 30px;
    width: 100%;  
}
.bttn a{
    margin-top: 20px;
    
    display: block;
}

.member-wrapper { 
    margin: 0 auto;   
    text-align: center;    
}
    
.member {
    width: 100%;
    margin-left: 22%;   
    margin-bottom: 30px;
    text-align: center;
}

.text-member {
    width: 100%;    
} 
    
.member-name  {
    width: 100%;
    font-size: 18px;
}    
    
}

@media all and (max-width: 1000px) {

.bagian-extra1 { 
margin: 0 auto;   
}

.member {
    width: 40%;
    text-align: center;  
}
}
