* {
    box-sizing: border-box;
  }

@font-face{
    font-family: 'Quicksand';
    src: url('font/Quicksand-Regular.ttf');
}

body {
    margin: 0;
    font-family: "Quicksand";
  }

.bagian-utama-top{
    max-width: 100%;
    /*padding: 0 15px;*/
    margin: 0 auto; 
    text-align: center;
    background-color: #FFEFCA;
  }
  
.bagian-utama{
    padding: 200px 0 200px 0;
    background-color: rgba(0,0,0,0.3);  
}

.cover{
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('img/setup.jpg');
    color: white;
}

@keyframes slideBg{
    0% {
        background-image: url('img/setup.jpg');
    }
    50% {
        background-image: url('img/timwork.jpg');
    }
    100% {
        background-image: url('img/work.jpg');
    }
}

.bttn{
    margin-top: 50px;
    text-align: center;   
}

.bttn a{
padding:5px 10px;
margin:0 7px;
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 10px;
color: rgba(4, 6, 12, 0.7);
font-weight: bold;
background-color: rgba(255, 255, 255, 0.5);
text-decoration: none;
}

a:hover{
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(4, 6, 12, 1);
}

.bagian-extra1 {
    max-width: 100%;
    text-align: left;
    background-color: #FFEFCA;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding-top: 80px;
    padding-bottom: 20px;
    color: #ebaa91;
    font-size: 20px;
}

.heading p{
    color: #5f5d60;  
    font-size: 15px;    
}

  .member-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
}
  
.member {
    float: left;
    width: 20%;    
}
  
.member-icon {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);
 }

.member-icon:hover{
  border: 5px solid rgba(59, 14, 14, 0.753);
}  

    
.member-name {
    
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    color: black;
    opacity: 60%;
    text-align: center;
    font-size: 15px;   
}

  .ours-heading{
      padding-bottom: 20px;
}
 
.text-member {
    
    width: 80%;
    display: inline-block;
    padding-top: 5px;
    font-size: 15px;
    color: #5f5d60;
    text-align: left;
}  

.clear{
    clear:left;
}

.extra-2{
    max-width: 100%;
}

  input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
  
}

/* Tambahkan CSS untuk contact-submit */

.contact-submit{
  background-color:#dee7ec;
  color:#2f3542;
  border-radius:100px;
  box-shadow:10px 10px;
  opacity:0.8;
  display:inline-block;
  cursor: pointer;

}

.contact-submit:hover{
    opacity: 1;
}

.contact-submit:active {
    box-shadow: none;
    position: relative;
    top:10px;
}

  .contact-form{
    text-align:center;
    background-color:#ecf0f1;
}

header {
    height: 55px;
    width: 100%;
    background-color: rgba(4, 6, 12, 0.5);
    position :fixed;
    top: 0;
    z-index: 10;
}

.header-left{
    float: left;
    font-size: 10px;
    color: white;
    padding-bottom: 10px;
}

.header-right {
    float: right;
}

.header-right a{
    line-height: 55px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    text-decoration: none;
    transition: all 0.5s;  
    border:none;   
}

.header-right a:hover{
    background-color: rgba(0,0,0,0.3);
}

.fa-bars{
    
    display: none;
    visibility: hidden;
}

.dropdown {
    display: none;
    visibility: hidden;
}

footer {
  max-width:100%;
  padding-top: 10px;
  padding-bottom: 25px;
  margin-bottom: 5px;
  color:red;
}

.footer-left {
  padding-left:5px;
  margin-top: 0px;
  margin-bottom: 12px;
  display: inline-block;
  float: left;
}

.footer-center {
  display:inline-block;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  margin-left: 420px;
}

.footer-center p {
  margin: 0 auto;
  color:red;
  font-size:15px;
  text-align: center;
}

.footer-right {
  margin-right: 15px;
  display: inline;
}

.socmed {
  display: inline;
}

.fa {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin-right:15px;
  font-size: 15px;
  width: 5px;
  text-align: center;
  float:right;
  padding-bottom: 10px;
  border:1px solid red;
  border-radius: 50%;
}
.fa:hover {
  opacity:0.5;
  color:red;
}

.fa-facebook {
  background: white;
  color: red;
}

.fa-pinterest {
  background: white;
  color: red;
}

.fa-linkedin {
  background: white;
  color: red;
}

.fa-twitter {
  background: white;
  color: red;
}

.fa-instagram {
  background: white;
  color: red;
}

.fa-angle-up {
  background-color:white;
  color:red;
  text-decoration:none;
}



