* {
    box-sizing: border-box;
  }

@font-face{
    font-family: 'Quicksand';
    src: url('font/Quicksand-Regular.ttf');
}

body {
    margin: 0;
    font-family: "Quicksand";
  }

.bagian-utama-top{
    max-width: 100%;
    /*padding: 0 15px;*/
    margin: 0 auto; 
    text-align: center;
    background-color: #FFEFCA;
  }
  
.bagian-utama{
    padding: 200px 0 200px 0;
    background-color: rgba(0,0,0,0.3);  
}

.cover{
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 20s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('img/setup.jpg');
    color: white;
}

@keyframes slideBg{
    0% {
        background-image: url('img/setup.jpg');
    }
    50% {
        background-image: url('img/timwork.jpg');
    }
    100% {
        background-image: url('img/work.jpg');
    }
}

.bttn{
    margin-top: 50px;
    text-align: center;   
}

.bttn a{
padding:5px 10px;
margin:0 7px;
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 10px;
color: rgba(4, 6, 12, 0.7);
font-weight: bold;
background-color: rgba(255, 255, 255, 0.5);
text-decoration: none;
}

a:hover{
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    color: rgba(4, 6, 12, 1);
}

.bagian-extra1 {
    text-align: left;
    background-color: #FFEFCA;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading {
    padding-top: 80px;
    padding-bottom: 20px;
    color: #ebaa91;
    font-size: 20px;
}

.heading p{
    color: #5f5d60;  
    font-size: 15px;    
}

  .member-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
}
  
.member {
    float: left;
    width: 20%;    
}
  
.member-icon {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 255, 255, 0.6);
 }

.member-icon:hover{
  border: 5px solid rgba(59, 14, 14, 0.753);
}  

    
.member-name {
    
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    color: black;
    opacity: 60%;
    text-align: center;
    font-size: 15px;   
}

  .ours-heading{
      padding-bottom: 20px;
}
 
.text-member {
    
    width: 80%;
    display: inline-block;
    padding-top: 5px;
    font-size: 15px;
    color: #5f5d60;
    text-align: left;
}  

.clear{
    clear:left;
}
  
